@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    border: 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "JetBrains Mono", sans-serif;
    gap: 25px;
}

.form-container {
    border: 2px solid;
    width: 100%;
}

.menu-dialog[open] {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    align-self: center;
    justify-self: center;
    padding: 20px;
}

.field-group {
    display: flex;
    flex-direction: column;
}

.field-group input {
    max-width: stretch;
    outline: none;
    border: 2px solid #cecece;
    border-radius: 2px;
    height: 30px;
    padding-left: 8px;
    font-family: inherit;
}

.field-group label {
    width: fit-content;
}

.start-game-btn {
    padding: 4px 8px;
    cursor: pointer;
}

.max-chars {
    font-size: 12px;
    margin-bottom: 15px;
}

.player-form {
    display: flex;
    flex-direction: column;
}

.player-form > p {
    align-self: center;
    margin-bottom: 35px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
}

.grid-container {
    display: grid;
    background-color: #cbd5e1;
    border: 3px solid #0f172a;
    border-radius: 16px;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    padding: 8px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.15);
}

.square {
    font-family: 'Arial', sans-serif;
    display: grid;
    place-items: center;
    background-color: #ffffff;
    border: 2px solid #94a3b8;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.square:hover{
    background-color: #dedee7;
}

.button-container {
    display: grid;
    place-items: center;
    width: 300px;
}

.restart-btn {
    font-family: "JetBrains Mono", sans-serif;
    padding: 12px 24px;
    background-color: white;
    outline: none;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

.restart-btn:hover {
    background-color: #eeeeee;
}

.restart-btn:active {
    background-color: #d9d9d9;
}